.container {
  position: relative;
  background-color: var(--slate-100);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_input_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90rem;
  padding: 1.25rem 16.25rem 1.25rem;
  gap: 4rem;
}

.go_back_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  padding: 1.25rem;
  top: 0;
  left: 0;
  font: var(--search_page_goHome);
  color: var(--slate-800);
}

.search_input_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
