.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 90rem;
  padding: 10rem 8rem;
  gap: 4rem;
}

.home_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.home_header_title {
  font: var(--page_heading_title);
  text-transform: uppercase;
  color: var(--slate-800);
}

.home_header_subtitle {
  font: var(--page_heading_secondary);
  color: var(--slate-600);
}

.pagination_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.pagination_prev_button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background: none;
  border: 0;
  filter: invert(43%) sepia(58%) saturate(443%) hue-rotate(135deg)
    brightness(91%) contrast(87%);
  cursor: pointer;
}

.pagination_prev_button:disabled {
  filter: invert(80%);
  cursor: not-allowed;
}

.pagination_prev {
}

.pagination_next_button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background: none;
  border: 0;
  filter: invert(43%) sepia(58%) saturate(443%) hue-rotate(135deg)
    brightness(91%) contrast(87%);
  cursor: pointer;
}

.pagination_next_button:disabled {
  filter: invert(80%);
  cursor: not-allowed;
}

.pagination_next {
  transform: rotate(180deg);
}

.pagination_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.currentPage {
  color: var(--accent);
  background: none;
  outline: none;
  border: 0;
  font: var(--pagination_button);
  cursor: pointer;
}

.page {
  background: none;
  outline: none;
  border: 0;
  font: var(--pagination_button);
  cursor: pointer;
}

@media (width < 80em) {
  .home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 90rem;
    padding: 10rem 8rem;
    gap: 4rem;
  }
}

@media (width < 60em) {
  .home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 90rem;
    padding: 10rem 2rem;
    gap: 4rem;
  }
}

@media (width < 50em) {
  .home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 90rem;
    padding: 10rem 0rem;
    gap: 4rem;
  }

  .home_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
