.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.news_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90rem;
  padding: 8rem 0rem 2rem;
  gap: 1rem;
}

.news_hat {
  font: var(--news_hat);
  color: var(--accent);
  text-align: center;
}

.news_title {
  font: var(--news_title);
  color: var(--slate-800);
  text-align: center;
}

.news_author_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.news_author_img {
}

.news_author {
  font: var(--news_author);
  color: var(--slate-600);
}

.news_publishedAt {
  font: var(--news_publishedAt);
  color: var(--slate-600);
}

.news_content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90rem;
  gap: 3rem;
  padding: 0 0 3rem 0;
}

.news_content_img {
    width: 100%;
    max-width: 920px;
}

.news_content {
    font: var(--news_content);
    color: var(--slate-600);
    width: 100%;
    max-width: 1280px;
}
