:root {
  --slate-50: #e6e6e6;
  --slate-100: #f1f5f9;
  --slate-300: #cbd5e1;
  --slate-600: #475569;
  --slate-800: #1e293b;
  --accent: #008b8b;

  --header_heading: 700 64px/72px "Playfair Display", sans-serif;
  --header_subtitle: 400 24px/32px "Poppins", sans-serif;
  --header_search_input_placeholder: 400 16px/24px "Poppins", sans-serif;

  --page_heading_title: 800 24px/24px "Poppins", sans-serif;
  --page_heading_secondary: 400 20px/24px "Poppins", sans-serif;

  --teaser_block_hat: 700 16px/16px "Roboto Condensed", sans-serif;
  --teaser_block_text_heading: 800 36px/48px "Playfair Display", sans-serif;
  --teaser_block_text_lead: 400 20px/27.5px "Roboto Condensed", sans-serif;
  --teaser_block_author_name: 700 16px/22px "Poppins", sans-serif;
  --teaser_block_author_secondary: 400 14px/17.5px "Poppins", sans-serif;

  --article_hat: 700 24px/24px "Poppins", sans-serif;
  --article_title: 700 64px/72px "Playfair Display", sans-serif;
  --article_author_name: 700 16px/20px "Roboto Condensed", sans-serif;
  --article_author_secondary: 400 14px/17.5px "Roboto Condensed", sans-serif;

  --search_page_goHome: 700 16px/150% "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}
