:root {
  --slate-50: #e6e6e6;
  --slate-100: #f1f5f9;
  --slate-300: #cbd5e1;
  --slate-600: #475569;
  --slate-800: #1e293b;
  --accent: #008b8b;

  --header_heading: 700 64px/72px "Playfair Display", sans-serif;
  --header_heading_resp: 700 36px/42px "Playfair Display", sans-serif;
  
  --header_subtitle: 400 24px/32px "Poppins", sans-serif;
  --header_subtitle_resp: 400 16px/24px "Poppins", sans-serif;

  --header_search_input_placeholder: 400 16px/24px "Poppins", sans-serif;
  --header_search_input_placeholder_resp: 400 12px/20px "Poppins", sans-serif;

  --page_heading_title: 800 24px/24px "Poppins", sans-serif;
  --page_heading_title_resp: 800 16px/24px "Poppins", sans-serif;

  --page_heading_secondary: 400 20px/24px "Poppins", sans-serif;
  --page_heading_secondary_resp: 400 14px/22px "Poppins", sans-serif;

  --teaser_block_hat: 700 16px/16px "Roboto Condensed", sans-serif;
  --teaser_block_hat_resp: 700 16px/16px "Roboto Condensed", sans-serif;

  --teaser_block_text_heading: 800 36px/48px "Playfair Display", sans-serif;
  --teaser_block_text_heading_resp: 800 24px/32px "Playfair Display", sans-serif;

  --teaser_block_text_lead: 400 20px/27.5px "Roboto Condensed", sans-serif;
  --teaser_block_text_lead_resp: 400 16px/24px "Roboto Condensed", sans-serif;

  --teaser_block_author_name: 700 16px/22px "Poppins", sans-serif;
  --teaser_block_author_name_resp: 700 12px/20px "Poppins", sans-serif;

  --teaser_block_author_secondary: 400 14px/17.5px "Poppins", sans-serif;
  --teaser_block_author_secondary_resp: 400 12px/17.5px "Poppins", sans-serif;

  --article_hat: 700 24px/24px "Poppins", sans-serif;
  --article_title: 700 64px/72px "Playfair Display", sans-serif;
  --article_author_name: 700 16px/20px "Roboto Condensed", sans-serif;
  --article_author_secondary: 400 14px/17.5px "Roboto Condensed", sans-serif;

  --search_page_goHome: 700 16px/150% "Poppins", sans-serif;

  --search_result_title: 800 24px/24px "Poppins", sans-serif;
  --search_result_none: 400 20px/137.5% "Roboto Condensed", sans-serif;
  --search_result_sugestion_title: 800 24px/24px "Poppins", sans-serif;

  --news_hat: 800 24px/24px "Poppins", sans-serif;
  --news_title: 700 64px/72px "Playfair Display", sans-serif;
  --news_author: 700 16px/125% "Roboto Condensed", sans-serif;
  --news_publishedAt: 400 14px/125% "Roboto Condensed", sans-serif;
  --news_content: 400 24px/125% "Roboto Condensed", sans-serif;

  --pagination_button: 400 16px/36px "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}
