.search_container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--slate-600);
  padding: 1.5rem;
  border-radius: 8px;
  width: 800px;
  max-width: 800px;
  margin-bottom: -55px;
  box-shadow: 5px 10px 15px #00000010;
}

.search_input_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.search_icon {
  color: var(--slate-600);
}

.search_search_input {
  border: 0;
  outline: none;
  color: var(--slate-600);
  font: var(--header_search_input_placeholder);
  width: 100%;
}

.search_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search_reset_button {
  background: none;
  outline: none;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_reset_button:disabled {
  display: none;
}

.erase_icon {
  color: var(--slate-300);
  cursor: pointer;
}

.search_input_submit {
  background: none;
  outline: none;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_input_submit:disabled {
  display: none;
}

.arrow_right_icon {
  transsearch: rotate(180deg);
  cursor: pointer;
}

@media (width <= 60em) {
  .search_container {
    width: 30rem;
  }
}

@media (width <= 50em) {
  .search_container {
    width: 20rem;
  }
}

@media (width <= 30em) {
  .search_container {
    width: 18rem;
    padding: 1.5rem 1rem;
  }

  .search_input_container{
    gap: 0.5rem;
  }

  .search_search_input{
    font: var(--header_search_input_placeholder_resp);
  }
}
